<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pghome.mapper.product.ProductCategoryMapper">
    <resultMap id="BaseResultMap" type="com.pghome.pojo.product.ProductCategory">
        <id property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryType" column="category_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name,category_type,create_time,update_time
    </sql>

    <select id="findOneById" resultMap="BaseResultMap" parameterType="Integer">
        select
        <include refid="Base_Column_List"/>
         from product_category where category_id = #{id}
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_category
    </select>

    <select id="findByCategoryType" parameterType="java.util.List" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from product_category where category_type in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="saveProductCategory" parameterType="com.pghome.pojo.product.ProductCategory">
        insert into product_category(category_name,category_type,create_time,update_time)
        value(#{categoryName},#{categoryType},#{createTime},#{updateTime})
    </insert>
    
    
</mapper>