##############################
## Folders                  ##
##############################
/target/
.idea

##############################
## Netbeans conf            ##
##############################
*.iml
