##############################
## Folders                  ##
##############################
.idea

##############################
## Netbeans conf            ##
##############################
*.iml
/target
//target
/api/target
/common/target
/pojo/target
/service/target
/web/target
/mapper/target
