##############################
## Folders                  ##
##############################
/target/
/target/*/
.idea

##############################
## Netbeans conf            ##
##############################
*.iml