<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pghome.mapper.driver.DriverRegisterMapper">

    <resultMap id="BaseResultMap" type="com.pghome.pojo.driver.DriverRegister">
        <id property="driverId" column="driver_id"/>
        <result property="phone" column="phone"/>
        <result property="driverName" column="driver_name"/>
        <result property="type" column="type"/>
        <result property="number" column="number"/>
        <result property="drivingDate" column="driving_date"/>
        <result property="carNumber" column="car_number"/>
        <result property="carModel" column="car_model"/>
        <result property="carColor" column="car_color"/>
        <result property="carName" column="car_name"/>
        <result property="carRegisterDate" column="car_register_date"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        driver_id,driver_name,phone,type number,driving_date,car_number,car_model,car_color,car_name,car_register_date,status,update_time,create_time
    </sql>

    <insert id="create" parameterType="com.pghome.pojo.driver.DriverRegister">
        insert into driver_register (driver_name,type,phone,number,driving_date,car_number,car_model,car_color,car_name,car_register_date,status,update_time,create_time)
        value(#{driverName},#{type},#{phone},#{number},#{drivingDate},#{carNumber},#{carModel},#{carColor},#{carName},#{carRegisterDate},#{status},#{createTime},#{updateTime})
    </insert>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from driver_register
    </select>

    <select id="findByStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from driver_register where status = #{status}
    </select>

    <select id="findByDriverRegister" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from driver_register
        <where>
            <trim prefixOverrides="and">

            </trim>
            <if test="driverId != null">
                driver_id = #{driverId} and
            </if>
            <if test="driverName != null and driverName != ''">
                driver_name = #{driverName} and
            </if>
            <if test="type != null">
                type = #{type} and
            </if>
            <if test="number != null and number != ''">
                number = #{number} and
            </if>
            <if test="drivingDate != null">
                driving_date = #{drivingDate} and
            </if>
            <if test="car_number != null and car_number">
                car_number = #{carNumber} and
            </if>
            <if test="carModel != null and carModel != ''">
                car_model = #{carModel} and
            </if>
            <if test="carColor != null and carColor != ''">
                car_color = #{carColor} and
            </if>
            <if test="carName != null and carName != ''">
                car_name = #{carName} and
            </if>
            <if test="carRegisterDate != null">
                car_register_date = #{carRegisterDate} and
            </if>
            <if test="status != null">
                status = #{status} and
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime} and
            </if>
            <if test="createTime != null">
                create_time = #{createTime} and
            </if>
        </where>
    </select>

    <select id="findByPhone" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from driver_register where phone = #{phone}
    </select>

    <select id="findByCarNumber" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from driver_register where car_number = #{carNumber}
    </select>


</mapper>